/* Grids */
.grid {
  display: flex;
  margin: 0 -1em;
  max-width: var(--max-width);
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.grid .cell {
  flex: 1;
  padding: 0 1em;
}

.grid .cell.cell-2 {
  flex: 2;
}

/* Responsive */
.grid--fit > .cell {
  flex: 1;
}
.grid--full > .cell {
  flex: 0 0 100%;
}
.grid--1of2 > .cell {
  flex: 0 0 50%;
}
.grid--1of3 > .cell {
  flex: 0 0 33.3333%;
}
.grid--1of4 > .cell {
  flex: 0 0 25%;
}

/* Small to medium screens */
@media screen and (min-width: 24em) {
  .small-grid--fit > .cell {
    flex: 1;
  }
  .small-grid--full > .cell {
    flex: 0 0 100%;
  }
  .small-grid--1of2 > .cell {
    flex: 0 0 50%;
  }
  .small-grid--1of3 > .cell {
    flex: 0 0 33.3333%;
  }
  .small-grid--1of4 > .cell {
    flex: 0 0 25%;
  }
}

/* Large screens */
@media screen and (min-width: 48em) {
  .large-grid--fit > .cell {
    flex: 1;
  }
  .large-grid--full > .cell {
    flex: 0 0 100%;
  }
  .large-grid--1of2 > .cell {
    flex: 0 0 50%;
  }
  .large-grid--1of3 > .cell {
    flex: 0 0 33.3333%;
  }
  .large-grid--1of4 > .cell {
    flex: 0 0 25%;
  }
}
